
/* html5resetcss */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* Cabecera de la web */

.contenedor-azul {
    background-color: rgb(28, 28, 58);
    display:flex; /* Flexbox para colocar elementos en línea */
    justify-content: space-around;
    align-items: center;
    p {
        display: none;
    }
}


.cabecera{
    color:white;
    display: flex;         
    justify-content: space-around; 
    align-items: center;     
    gap: 10px;              
    padding: 10px;            
    p {
        margin: 0;              
        flex: 1;                
        word-wrap: break-word;  
    }
    .fa-solid {
        flex-shrink: 0;         
    }
}


.desplegable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    i{
        cursor: pointer;
    }
}

hr {
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    & a{
        display:flex;
        justify-content: center;
        color:grey;
        text-decoration: none;
        font-family: "Roboto", serif;
        }
}

/* Cuerpo de la web */

.fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/fondo.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    h1{
        color: whitesmoke;
        font-size: 24px;
        font-family: "Comic Neue", serif;
        font-weight: 700;
        margin: 10px;
        width: 100%;
    }
    h2 {
        color:coral;
        font-family: "Roboto", serif;
        font-weight: 400;
        margin: 10px;
        width: 100%;
    }
    h3 {
        color: whitesmoke;
        font-family: "Roboto", serif;
        font-weight: 400;
        margin: 10px;
        width: 100%;
    }

    .redes {
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }
}

a{
    text-decoration: none;
}

button {
    padding: 8px 10px;
    background-color: coral;
    color: whitesmoke;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

section {
    h3{
        font-size: 22px;
        font-family: "Comic Neue", serif;
        text-align: center;
        padding-top: 20px;
        span {
            color: orangered
        }
    }

    .linea {
        display: flex;
        flex-direction: column;
        align-items: center;
        .x {
            color:orangered;
            font-family: "Roboto", serif;
            font-weight: 700;
            margin-right: auto;
            margin-left: auto;
            margin-top: 4px;
            position: relative;
            z-index: 2;
        }
    
        hr {
            background-color: orangered;
            width: 100px;
            height: 2px;
            margin-left: auto;
            position: absolute;
            left: calc(50% - 50px );
            top: 10;
            z-index: 1;
        }
    }

    article {
        margin-left: 15px;
        font-family: "Roboto", serif;

        i {
            color: orangered;
            border: solid 1px;
            padding: 4px;
            margin-bottom: 10px;
        }

        p {
            color: gray;
            margin: 10px 0 10px 0;
        }

        a {
            color: orangered;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .recuadro {
        margin: 20px;
        margin-bottom: 20px;
        border:solid 3px;
        border-color: orangered;
        display: flex;
        justify-content: center;
        transform: rotate(10deg);
        img{
            transform: rotate(-10deg);
        }
        
    }

    span {
        color: orangered
    }

    button {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

/* Pie de la web */

footer {
    padding: 5px;
    width: 100%;
    background-color: rgb(40, 40, 58);
    color: white;
    font-family: "Roboto", serif;
    position: fixed;
    bottom: 0;
    a{
        color: white;
    }
}


/* VERSIÓN ESCRITORIO */



@media screen and (min-width: 768px) {
    /* Cabecera de la web */

.contenedor-azul {
    display:flex; 
    justify-content: center;
    gap: 5%;
    align-items: center;
    p {
        display:contents;
    }
}

.desplegable {
    i{
        display: none;
        cursor: pointer;
    }
}

.navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        padding-right: 100px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    margin-top: 20px;
}

/* Cuerpo de la web */

.fondo {
    h1, h2, h3, button, .redes {
        margin-left: 15%;
    }
}

section {

    .articulos {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        article {
            border-left: 1px solid gray;
            padding-left: 15px;
        }
    }

    .encuadre {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}